html {
    background-color: yellow;
}
h1 {
    font-style: italic; 
}
.navbar {
    background-color: green;
}
table {
    background-color: greenyellow;
}
body {
    background-color: greenyellow;
}